body{
  background-color: #d5d5d5;
}

h1{
  color: #9099a2;
}

h2, h3, h4, h5, h6{
  color: #6d7993;
}

a{
  color: inherit;
}

a:hover{
  color: #6d7993;
}

/* Homepage styles*/
.cover{
    height:300px;
    margin-top: 25%;
    background: url('http://www.publicdomainpictures.net/pictures/140000/t2/ark-texture-impasto-color-swirl-.jpg ');
    background-size: cover;
}

.jumbotron{
    background-color: #96858f;
}

div.front-logo h1{
    color: white;
    margin: 50px;
}

div.cover .col-sm-2{
    height: 200px;
    margin: 50px 0px;
}

.front-nav-1{
    background-color: #64271b;
}

.front-nav-2{
    background-color: #354243;
}

.front-nav-3{
    background-color: #80598d;
}
